.img-adj {
    display: block;
    margin: auto;
}

.full {
    height: 100%;
    width: 100%;
}

.carousel {
    margin-bottom: 1rem;
}

#contact {
    padding: 10px 0 10px;
}

.contact-text {
    margin: 45px auto;
}

.mail-message-area {
    width: 100%;
    padding: 0 15px;
}

.mail-message {
    width: 100%;
    background: rgba(255, 255, 255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin: 0 auto;
    border-radius: 0;
}

.not-visible-message {
    height: 0px;
    opacity: 0;
}

.visible-message {
    height: auto;
    opacity: 1;
    margin: 25px auto 0;
}


/* Input Styles */

.form {
    width: 100%;
    padding: 15px;
    background: #f8f8f8;
    border: 1px solid rgba(0, 0, 0, 0.075);
    margin-bottom: 25px;
    color: #727272 !important;
    font-size: 13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.form:hover {
    border: 1px solid #8BC3A3;
}

.form:focus {
    color: white;
    outline: none;
    border: 1px solid #8BC3A3;
}

.textarea {
    height: 200px;
    max-height: 200px;
    max-width: 100%;
}


/* Generic Button Styles */

.button {
    padding: 8px 12px;
    background: #0A5175;
    display: block;
    width: 120px;
    margin: 10px 0 0px 0;
    border-radius: 3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    font-size: 0.8em;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
}

.button:hover {
    background: #8BC3A3;
    color: white;
}


/* Send Button Styles */

.form-btn {
    width: 180px;
    display: block;
    height: auto;
    padding: 15px;
    color: #fff;
    background: #8BC3A3;
    border: none;
    border-radius: 3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin: auto;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
}

.form-btn:hover {
    background: #111;
    color: white;
    border: none;
}

.form-btn:active {
    opacity: 0.9;
}

center {
    margin-top: 330px;
}


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}


/* Declare heights because of positioning of img element */

.carousel-item {
    height: 32rem;
}

.item1 {
    background-image: url("https://l1-cms-2.images.lexus-europe.com/lexusone/lexesesv11/tyres-hero-1920x1080_tcm-3153-1323236.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center;*/
    opacity: 75%;
}

.item2 {
    background-image: url("https://l1-cms-1.images.lexus-europe.com/lexusone/lexesesv11/car-service-key-features-A-1920x1080_tcm-3153-1323224.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center;*/
    opacity: 75%;
}

.item3 {
    background-image: url("https://l1-cms-4.images.lexus-europe.com/lexusone/lexesesv11/Oil-Change-hero-1920x1080_tcm-3153-1323245.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center;*/
    opacity: 75%;
}

.carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

.auto {
    width: 400px;
}

.suv {
    width: 400px;
    height: 265px;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .logo {
        height: auto;
    }
    .imgdetalle1 {
        height: 170px;
        display: block;
        margin: auto;
    }
    .formularioRegistro {
        margin-top: 200px;
    }
    .mantenciones {
        margin-top: 270px;
    }
    .alertaLogin {
        margin-top: 270px;
        margin-bottom: -260px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .logo {
        height: 150px;
    }
    .imgdetalle1 {
        height: 170px;
        display: block;
        margin: auto;
    }
    .formularioRegistro {
        margin-top: 100px;
    }
    .mantenciones {
        margin-top: 200px;
    }
    .alertaLogin {
        margin-top: 200px;
        margin-bottom: -190px;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .logo {
        height: 150px;
    }
    .imgdetalle1 {
        height: auto;
        display: block;
        margin: auto;
    }
    .formularioRegistro {
        margin-top: 100px;
    }
    .mantenciones {
        margin-top: 200px;
    }
    .alertaLogin {
        margin-top: 200px;
        margin-bottom: -190px;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .logo {
        height: 100px;
    }
    .tabladetalle {
        margin-top: 10px;
    }
    .formularioRegistro {
        margin-top: auto;
    }
    .mantenciones {
        margin-top: 150px;
    }
    .alertaLogin {
        margin-top: 150px;
        margin-bottom: -140px;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .logo {
        height: 100px;
    }
    .tabladetalle {
        margin-top: auto;
    }
    .formularioRegistro {
        margin-top: auto;
    }
    .mantenciones {
        margin-top: 150px;
    }
    .alertaLogin {
        margin-top: 150px;
        margin-bottom: -140px;
    }
    .adjlog {
        padding-top: 150px
    }
}


/*login*/

.login-container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-form-1 {
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-1 h3 {
    text-align: center;
    color: #333;
}

.login-container form {
    padding: 10%;
}

.btnSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form-1 .btnSubmit {
    font-weight: 600;
    color: #fff;
    background-color: #212529;
}

.login-form-1 .ForgetPwd {
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
    color: #212529;
}

.loginpadding {
    padding: 5px;
}

.back-adj {
    display: block;
    margin: auto;
    width: 60%;
    background-color: white!important
}

.fondo {
    background-image: url('https://static8.depositphotos.com/1141099/799/i/600/depositphotos_7990452-stock-photo-automotive-engine.jpg');
    background-color: rgb(109, 109, 109);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.maincolor {
    background-color: #212529;
    color: white;
}